on: [push, pull_request]
name: Build
jobs:
  linux-gtk3:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev
    - name: Build
      run: go build
      working-directory: iup

  linux-gtk4:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-4-dev
    - name: Build
      run: go build -tags gtk4
      working-directory: iup

  linux-gtk2:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk2.0-dev
    - name: Build
      run: go build -tags gtk2
      working-directory: iup

  linux-qt6:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y qt6-base-dev
    - name: Build
      run: go build -tags qt
      working-directory: iup

  linux-qt5:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y qtbase5-dev
    - name: Build
      run: go build -tags qt,qt5
      working-directory: iup

  linux-motif:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libmotif-dev libxmu-dev libxpm-dev
    - name: Build
      run: go build -tags motif
      working-directory: iup

  linux-gtk3-gl:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags gl
      working-directory: iup

  linux-gtk4-gl:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-4-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags gtk4,gl
      working-directory: iup

  macos-cocoa:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Build
      run: go build
      working-directory: iup

  macos-gtk3:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: brew install gtk+3
    - name: Build
      run: go build -tags gtk
      working-directory: iup

  macos-gtk4:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: brew install gtk4
    - name: Build
      run: go build -tags gtk4
      working-directory: iup

  macos-qt6:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install dependencies
      run: brew install qt
    - name: Build
      run: go build -tags qt
      working-directory: iup

  windows-win32:
    strategy:
      matrix:
        go-version: [1.21.x, stable]
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Build
      run: go build
      working-directory: iup
