on: [push, pull_request]
name: Build
jobs:
  linux-gtk3:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev
    - name: Build
      run: go build
      working-directory: iup

  linux-gtk4:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-4-dev
    - name: Build
      run: go build -tags gtk4
      working-directory: iup

  linux-gtk2:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk2.0-dev
    - name: Build
      run: go build -tags gtk2
      working-directory: iup

  linux-qt6:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y qt6-base-dev
    - name: Build
      run: go build -tags qt
      working-directory: iup

  linux-qt5:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y qtbase5-dev
    - name: Build
      run: go build -tags qt,qt5
      working-directory: iup

  linux-motif:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libmotif-dev libxmu-dev libxpm-dev
    - name: Build
      run: go build -tags motif
      working-directory: iup

  linux-motif-gl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libmotif-dev libxmu-dev libxpm-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags motif,gl
      working-directory: iup

  linux-efl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libefl-all-dev
    - name: Build
      run: go build -tags efl
      working-directory: iup

  linux-efl-gl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libefl-all-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags efl,gl
      working-directory: iup

  linux-gtk3-gl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags gl
      working-directory: iup

  linux-gtk4-gl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-4-dev libgl1-mesa-dev
    - name: Build
      run: go build -tags gtk4,gl
      working-directory: iup

  linux-gtk3-web:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev
    - name: Build
      run: go build -tags web
      working-directory: iup

  linux-gtk4-web:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-4-dev
    - name: Build
      run: go build -tags gtk4,web
      working-directory: iup

  linux-qt6-web:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: sudo apt-get update -y && sudo apt-get install -y qt6-base-dev qt6-webengine-dev
    - name: Build
      run: go build -tags qt,web
      working-directory: iup

  macos-cocoa:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Build
      run: go build
      working-directory: iup

  macos-cocoa-web:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Build
      run: go build -tags web
      working-directory: iup

  macos-gtk3:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: brew install gtk+3
    - name: Build
      run: go build -tags gtk
      working-directory: iup

  macos-gtk4:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: brew install gtk4
    - name: Build
      run: go build -tags gtk4
      working-directory: iup

  macos-qt6:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install dependencies
      run: brew install qt
    - name: Build
      run: go build -tags qt
      working-directory: iup

  windows-winui:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Install llvm-mingw
      run: |
        cd "$RUNNER_TEMP"
        curl -L -o llvm-mingw.zip https://github.com/mstorsjo/llvm-mingw/releases/download/20251216/llvm-mingw-20251216-ucrt-x86_64.zip
        unzip -q llvm-mingw.zip
        echo "$RUNNER_TEMP/llvm-mingw-20251216-ucrt-x86_64/bin" >> $GITHUB_PATH
    - name: Build
      env:
        CC: x86_64-w64-mingw32-clang
        CXX: x86_64-w64-mingw32-clang++
        CGO_ENABLED: "1"
      run: go build -tags winui
      working-directory: iup

  windows-win32:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Build
      run: go build
      working-directory: iup

  windows-win32-web:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: Build
      run: go build -tags web
      working-directory: iup

  windows-gtk3:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: mingw-w64-x86_64-go mingw-w64-x86_64-gcc mingw-w64-x86_64-pkg-config mingw-w64-x86_64-gtk3
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build
      run: go build -tags gtk
      working-directory: iup

  windows-gtk4:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: mingw-w64-x86_64-go mingw-w64-x86_64-gcc mingw-w64-x86_64-pkg-config mingw-w64-x86_64-gtk4
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build
      run: go build -tags gtk4
      working-directory: iup

  windows-qt6:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: mingw-w64-x86_64-go mingw-w64-x86_64-gcc mingw-w64-x86_64-pkg-config mingw-w64-x86_64-qt6-base
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build
      run: go build -tags qt
      working-directory: iup
